@page "/login"
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthProvider
@inject IAuthService AuthService
@inject IToastService ToastService

@*<EditForm Model="user" OnValidSubmit="OnSubmitLogin">
    <div>
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="user.Email" class="form-control"></InputText>
    </div>
    <div>
        <label for="password">Hasło</label>
        <InputText id="password" @bind-Value="user.Password" type="password" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-success">Go!</button>
</EditForm>*@

<EditForm Model="user" OnValidSubmit="OnSubmitLogin">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Zaloguj się</h3>

                            <div class="form-outline mb-4">
                                <InputText id="email" @bind-Value="user.Email" class="form-control form-control-lg"></InputText>
                                <label class="form-label" for="email">Email</label>

                            </div>

                            <div class="form-outline mb-4">
                                <InputText id="password" @bind-Value="user.Password" type="password" class="form-control form-control-lg"></InputText>
                                <label class="form-label" for="password">Hasło</label>

                            </div>
                            <div class="form-outline mb-4">
                                <a href="/registration">Załóż konto</a>
                            </div>
                            <button type="submit" class="btn btn-success">Zaloguj się</button>                        </div>
                    </div>
                </div>
            </div>
        </div>
</EditForm>



@code {
    private UserLogin user = new UserLogin();
    private async void OnSubmitLogin()
    {
        var response = await AuthService.Login(user);
        if (response.Success)
        {
            ToastService.ShowSuccess(response.Message, "Sukces!");
            await LocalStorage.SetItemAsStringAsync("token", response.Data);
            await AuthProvider.GetAuthenticationStateAsync(); //???
            NavigationManager.NavigateTo("newtask");
        }
        else
        {
            ToastService.ShowSuccess(response.Message, "Błąd");
        }

    }
}
